*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #e0ffff;
	background-attachment: scroll;  
	box-sizing: border-box;
}

/*header*/

.header {
  height: 90px;
  text-align: center;
  background: #8ab9f1 ;
}

/*logo in header*/

.header img{
  position: center;
  height: 80px;
  width: 300px;
  margin-top: 10px;
}

/*style navigation bar*/

nav{
	height: 70px;
	background-color: #242124;
	line-height: 70px;
	padding: 0px;
}

/*text logo in navigation bar*/

nav .logo{
	font-size: 23px;
	font-family: Marker Felt, fantasy;
	letter-spacing: 1.5px;
}

nav .logo p{
	float: left;
	color: white;
	margin-left: 10px;
	text-transform: uppercase;
}

nav ul{
	list-style: none;
	margin: 0 0 0 500px;
}

nav ul li{
	float: left;
}

nav ul li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 20px;
	font-family: Georgia, serif;
}

nav ul li a:hover{
	background-color: #dcdcdc ;
	color: black;
}

nav ul li a.active{
	background-color: #4166f5;
	color: white;
}

/*register and login buttons in navigation bar*/

.navbtn button a{
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}

.navbtn button{
	background-color: #4166f5; 
	border-radius: 8px;
	border: none;
	margin-top: 17px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 0px;
	padding: 8px 8px;
	width: 100px;
	float: right;
}	

/* styling blogs */

section{
	margin: 0px;
	display: flex;
	justify-content: center;
}


.about {
	margin: 20px 0px 20px 15px;
	border: 2px solid #e0ffff;
	float: left;
	width: 500px;
	height: 400px;
	background-color: #f0fff0;
}

.about img {
	width: 500px;
	height: 400px;
}

.intro {
	padding: 20px;
	font-size: 15px;
	font-family: Bradley Hand, cursive;
	color: #242124;
	line-height: 1.8;
	text-align: justify;
}

h2{
	float: left;
	padding: 20px;
	background: #f0fff0 ;
	color: #242124;
	text-decoration-line: overline;
	text-decoration-color: red;
	font-size: 30px;
}

/*footer*/

footer{
	background: #242124;
	left: 0;
	bottom: 0;
	margin-top: 0px;
	width: 100%;
}

.container{
	margin: 0px;
	display: flex;
	justify-content: center;
}

.footer-content{
	width:  33.3%;
	margin: 20px 20px 10px 20px;
}

h3{
	font-size: 28px;
	font-family: Georgia, serif;
	margin-bottom: 15px;
	text-align: center;
	color: white;
}

.footer-content p{
	width: 190px;
	margin: auto;
	padding: 7px;
	color: white;
}

.footer-content ul{
	text-align: center;
}

.list{
	padding: 10px;
}

.list li{
	width: auto;
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 10px;
	position: relative;
}

.list li a{
	color: white;
	text-decoration: none;
	font-family: Verdana, sans-serif;
}

/*social media icons in the footer*/

.social-icons{
	text-align: center;
	padding: 0px;
}

.social-icons li{
	display: inline-block;
	text-align: center;
	padding: 5px;
	list-style: none;
}

.social-icons li a img{
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 20%;
	width: 30px;
}
